*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'plain light';
    color: #fff;
    background-color: #030303;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    position: relative;
    /* color: #111; */
    
}
.loader{
    height: 100%;
    width: 100%;
    background-color: #0B0B0B;
    padding: 25vh 10vw;
    position: fixed;
    z-index: 999;
}
.line{
    /* background-color: red; */
    overflow: hidden;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}
.line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;
}
.line1-part1 h5{
    /* background-color: red; */
    width: 5vw;
    text-align: right;
}
.line1-part1 h5 ,.line1-part1 h6{
    font-size: 3vw;
    font-weight: 100;
    font-family: 'silk serif' ;
}
.line h2{
    font-size: 6.5vw;
    text-transform: uppercase;
    height: 8vw;
    text-align: center;
    /* background-color: red; */
    opacity: 0;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.page1{
    height: 100vh;
    width: 100%;
    background-color: #db6c2c;
}

@keyframes aneme {
    0%{
        font-family: 'plain light';
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 1;
    }
    41%{
        font-family: 'plain light';
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        font-family: 'silk serif';
        -webkit-text-stroke: 1px #fff;
        color: transparent;
        font-weight: 500;
        opacity: 1;
    }
    100%{
        font-family: 'silk serif';
        -webkit-text-stroke: 1px #fff;
        color: #fff;
        font-weight: 500;
        opacity: 0;
    }
}